<section class="padding bg-color" style="text-align: center">
  <h1 class="title" style="margin-bottom:50px">
    Lost and Found platform
  </h1>
  <button mat-button class="custom-btn" routerLink='lost'>Lost something</button>
  &nbsp;&nbsp;&nbsp;
  <button mat-button class="custom-btn" routerLink='found'>Found something</button>
</section>

<section class="padding bg-color1" style="text-align: center">
  <div id="feature">
    <h1 class="title-feature">
      PRE LOSS REGISTRATION ACCOUNTS
    </h1>
    <p class="sub-title">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero
      reprehenderit.
    </p>
    <div class="missing-items container">
      <div class="row">
        <div class="col-md-4">
          <div class="mis-item">
            <i class="material-icons">
              mobile_screen_share
            </i>
            <p class="sub-title">At vero eos et accusamus et iusto odio dignissimos.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mis-item">
            <i class="material-icons">
              desktop_mac
            </i>
            <p class="sub-title">Nam libero tempore, cum soluta nobis est.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mis-item">
            <i class="material-icons">
              device_unknown
            </i>
            <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mis-item">
            <i class="material-icons">
              headset
            </i>
            <p class="sub-title">Temporibus autem quibusdam et aut officiis debitis aut rerum.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mis-item">
            <i class="material-icons">
              work_outline
            </i>
            <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mis-item">
            <i class="material-icons">
              airplay
            </i>
            <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="padding bg-color3" style="text-align: center">
  <div id="benefit">
    <h1 class="title-feature">
      BENEFIT OF REGISTRATION
    </h1>
    <p class="sub-title">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero
      reprehenderit.
    </p>
    <div class="missing-items container">
      <div class="row">
        <div class="col-md-4">
          <div class="mis-item">
            <i class="material-icons">
              mobile_screen_share
            </i>
            <p class="sub-title">At vero eos et accusamus et iusto odio dignissimos.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mis-item">
            <i class="material-icons">
              desktop_mac
            </i>
            <p class="sub-title">Nam libero tempore, cum soluta nobis est.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mis-item">
            <i class="material-icons">
              device_unknown
            </i>
            <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mis-item">
            <i class="material-icons">
              headset
            </i>
            <p class="sub-title">Temporibus autem quibusdam et aut officiis debitis aut rerum.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mis-item">
            <i class="material-icons">
              work_outline
            </i>
            <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mis-item">
            <i class="material-icons">
              airplay
            </i>
            <p class="sub-title">Sed ut perspiciatis unde omnis iste natus error sit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="padding bg-color1" style="text-align: center">
  <div id="readyuse">
    <h1 class="title-feature">
      READY TO USE
    </h1>
    <p class="sub-title">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero
      reprehenderit.
    </p>
    <div class="row">
      <div class="col-md-6">
        <div style="margin-top:40px">
          <h3>How it works</h3>
          <p class="sub-title1">
            <b>1.</b> At vero eos et accusamus et iusto odio.
          </p>
          <p class="sub-title1">
            <b>2.</b> At vero eos et accusamus et iusto odio.
          </p>
          <p class="sub-title1">
            <b>3.</b> At vero eos et accusamus et iusto odio .
          </p>
          <p class="sub-title1">
            <b>4.</b> At vero eos et accusamus et iusto odio .
          </p>
          <p class="sub-title1">
            <b>5.</b> At vero eos et accusamus et iusto odio .
          </p>
          <p class="sub-title1">
            <b>6.</b> At vero eos et accusamus et iusto odio.
          </p>
          <p class="sub-title1">
            <b>7.</b> At vero eos et accusamus et iusto odio .
          </p>
          <p class="sub-title1">
            <b>8.</b> At vero eos et accusamus et iusto odio.
          </p>
        </div>
      </div>
      <div class="col-md-6" style="margin-top:20px">
        <img style="width:130%;margin-left: 10%" src="../../assets/img/admin-new.png" />
      </div>
    </div>
  </div>
</section>

<section class="padding bg-color3" style="text-align: center">
  <div id="rewards">
    <h1 class="title-feature">
      REWARD ITEMS NEAR YOU
    </h1>
    <p class="sub-title">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit id error rem qui. Neque aperiam saepe placeat vero
      reprehenderit.
    </p>
    <div class="missing-items container">
      <div class="row">
        <div class="col-md-4">
          <div class="rewards">
            <mat-card>
              <mat-card-content>
                <img mat-card-image src="../../assets/img/1.jpg" />
              </mat-card-content>
              <mat-card-footer>
                <h4>Lenovo</h4>
                <p>8-07-2016</p>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
        <div class="col-md-4">
          <div class="rewards">
            <mat-card>
              <mat-card-content>
                <img mat-card-image src="../../assets/img/2.jpg" />
              </mat-card-content>
              <mat-card-footer>
                <h4>Apple</h4>
                <p>11-07-2019</p>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
        <div class="col-md-4">
          <div class="rewards">
            <mat-card>
              <mat-card-content>
                <img mat-card-image src="../../assets/img/3.jpg" />
              </mat-card-content>
              <mat-card-footer>
                <h4>Samsung</h4>
                <p>10-07-2017</p>
              </mat-card-footer>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section style="padding:3%;background:#3f51b5;color:#f5f5f5">
  <div id="contact" class="row">
    <div class="col-md-4 sub-title">
      <span>Get connected with us on social networks!</span>
    </div>
    <div class="col-md-8 sub-title" style="text-align: right">
      <span>Facebook</span>
    </div>
  </div>
</section>

<footer class="bg-footer">
  <div class="row">
    <div class="col-md-3">
      <h4>COMPANY NAME</h4>
      <p class="sub-title" style="margin-top: 15px;text-align: left">
        Here you can use rows and columns here to
        organize your footer content. Lorem ipsum dolor sit amet,
        consectetur adipisicing elit.
      </p>
    </div>
    <div class="col-md-3">
      <h4>PRODUCTS</h4>
      <ul>
        <li><a href="">MDBootstrap</a></li>
        <li><a href="">MDWordPress</a></li>
        <li><a href="">BrandFlow</a></li>
        <li><a href="">Bootstrap Angular</a></li>
        <li><a href="">MDBootstrap</a></li>
        <li><a href="">MDWordPress</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h4>USEFUL LINKS</h4>
      <ul>
        <li><a href="">Your Account</a></li>
        <li><a href="">Become an Affiliate</a></li>
        <li><a href="">Shipping Rates</a></li>
        <li><a href="">Help</a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h4>CONTACT</h4>
      <ul>
        <li>
          <a href="">
            <i class="material-icons">
              home
            </i>
            <span>India, Bengaluru</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="material-icons">
              mail_outline
            </i>
            <span>info@example.com an Affiliate</span>
          </a>
        </li>
        <li>
          <a href="">
            <i class="material-icons">
              phone
            </i>
            <span>+97 7760505981</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
