<div layout="row">
  <mat-toolbar color="primary" class="header-fixed">
    <div class="logo">
      <a class="mat-button mat-button-base" mat-button="" routerLink="/" tabindex="0" aria-disabled="false">
        <span class="mat-button-wrapper">
          <h1>Missingx</h1>
        </span>
      </a>
    </div>
    <span style="flex: 1 1 0%"></span>
    <div class="menu">
      <a mat-button routerLink='/'><strong>Home</strong></a>
      <a mat-button href="#feature"><strong>Feature</strong></a>
      <a mat-button href="#benefit"><strong>Benefit</strong></a>
      <a mat-button href="#readyuse"><strong>Ready to use</strong></a>
      <a mat-button href="#rewards"><strong>Rewards</strong></a>
      <a mat-button href="#contact"><strong>Contact</strong></a>
      <a mat-button routerLink='signUp'><strong>Sign Up</strong></a>
      <a mat-button routerLink='signIn'><strong>Sign In</strong></a>
    </div>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
