/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: .875rem;
  color: rgba(0, 0, 0, .87);
  line-height: 1.5;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.bg-color {
  background-color: #3f51b5;
  color: #FFFF;
}

.bg-color1 {
  background-color: #FFF;
  color: #000;
}

.bg-footer {
  background: #000;
  color: #f5f5f5;
  padding: 5%;
}

.bg-color3 {
  color: #000;
  background: #f5fafa;
}

.padding {
  padding: 22%;
}

.lost-something-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.lost-something-container>* {
  width: 100%;
}

.mt30 {
  margin-top: 100px;
}

.margin-auto {
  margin: auto;
}

.right {
  float: right;
}



.menu {
  a:hover {
    color: #f5f5f5;
    text-decoration: none;
  }
}

.logo {
  @extend .menu;
}


.text-center {
  text-align: center;
  text-transform: uppercase;
}

.font-weight-300 {
  margin: -100px 0 24px;
  font-size: 38px;
  font-weight: 900;
  line-height: 52px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, .22);
}

.custom-btn {
  padding: 1% !important;
  border: 1px solid #fff !important;
  width: 45%;
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  line-height: 52px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, .22);
}

.title {
  @extend .text-center;
  @extend .font-weight-300;
}

.title-feature {
  @extend .text-center;
  font-size: 38px;
  font-weight: 400;
  line-height: 52px;
  margin-bottom: 50px;
  margin: -100px 0 24px;
}

.sub-title {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.71rem;
  letter-spacing: 0;
  opacity: .8;
  text-align: center;
}

.missing-items {
  .mis-item {
    i {
      margin-top: 50px;
      font-size: 4rem;
    }
  }
}

.sub-title1 {
  @extend .sub-title;
  //font-size: 1.2rem !important;
}

.rewards mat-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, .2);
}

ul {
  list-style-type: none;
  padding-left: 0px;

  li {
    a {
      @extend .sub-title;
      color: #f5f5f5;
      text-decoration: none !important;
      line-height: 2em;

      span {
        margin-left: 10px;
      }
    }

    :hover {
      color: #f5f5f5;
    }
  }
}


.spinner {
  position: absolute !important;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-size: 100%;
}

.spinner_overlay {

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.7;
  z-index: 1000;
}

//scroll 

.header-fixed {
  position: fixed !important;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  -webkit-animation: .6s forwards slideDown;
  animation: .6s forwards slideDown;
}
